{% extends 'baseUser.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

    <div class="container" style="padding: 200px 0 0 0">
        {{ form(form, {'attr': {'id': 'register_form'} ,'action': path('register'), 'method': 'post'}) }}
    </div>
{% endblock %}
